<h1>new property</h1>

<form action="/properties" method="post">
  <label for="">desc</label>
  <input name="desc" type="text">

  <label for="">address</label>
  <input name="address" type="text">

  <label for="">image url</label>
  <input name="image_url" type="text">
  
  <button>submit</button>
</form>